# Переменные для PostgreSQL
POSTGRES_DB=realty_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432


# Срок жизни объявления - 30 дней в Проде (и выставлен в коде), 10 минут в Тесте для Теста
MAX_LISTING_DURATION_DD_HH_MM_SS = 30:00:00:00



# Переменные для Django_settings
SECRET_KEY=your_secret_key
HOST_IP=127.0.0.1

DEBUG=True
# для Тестовой среды
USE_SQLITE=True

# Документация API: True — открыта всем (тестовый стенд),
# False/не задано — только админам (прод)
DOCS_PUBLIC=True


# Личный ключ для доступа к API DADATA
DADATA_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
