# Переменные для PostgreSQL
POSTGRES_DB=realty_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Переменные для Django_settings
SECRET_KEY=your_secret_key
HOST_IP=127.0.0.1
DEBUG=True


# Личный ключ для доступа к API DADATA
DADATA_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"