Django==4.2.4
djangorestframework==3.15.2
django-filter==24.3
python-dotenv==1.0.1

# pg на Мак не ставим. на сервере точно работало без всего что после ;
psycopg2-binary==2.9.9 ; sys_platform != 'darwin'  # Or sys_platform == 'your_production_platform'

# пожалуйста, не повышаейте версию pillow - не будет работать на "старых" Маках
pillow==10.4.0
cryptography==43.0.0
PyJWT==2.9.0
requests==2.32.3
qrcode==7.4.2
drf-spectacular==0.27.2
django-filter==24.3
django-q2==1.7.3
django-cors-headers==4.6.0